body{
    background-color: hsl(0, 0%, 90%);
    font-family:Arial,  sans-serif ;
}

form{
    background-color: white;
    text-align: center;
    border: 3px solid;
    border-radius: 5px;
    max-width: 350px;
    margin: auto;
    margin-top: 40px;
    box-shadow: 5px 5px 10px hsl(0, 0%, 50%);
}

h1{
    color: rgb(54, 184, 56);
}

#textbox{
    text-align: center;
    font-size: 1.5em;
    width: 50%;
    margin-bottom: 15px;
    border-radius: 5px;
}

#submit{
    background-color: hsl(0, 100%, 70%);
    margin-top: 15px;
    font-size: 1.5em;
    padding: 5px 20px;
    border-radius: 10px;
    cursor: pointer;
}
#submit:hover{
    background-color: hsl(0, 100%, 50%) ;
}